<style>
    img{
        height: 300px;
        width: 400px;
    }
</style>
<h1>This is my angular page for Product</h1>

<table border="1">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
    </tr>
    <tr>
        <td>Product Id:</td>
        <td><input type="text" [(ngModel)]="prodId"/></td>
    </tr>
    <tr>
        <td>Product Name:</td>
        <td><input type="text" [(ngModel)]="prodName"/></td>
    </tr>
    <tr>
        <td>
            <input type="button" value="Add Product" (click)="getAllData()"/>
        </td>
    </tr>
</table>

<img [src]="pic"/>

<div *ngIf="prodOnline else falseblock">This is true......</div>

<ng-template #falseblock>This is false.....</ng-template>

<table border="1">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let product of products;let i=index">
        <td>{{product.prodId}}</td>
        <td>{{product.prodName}}</td>
        <td><input type="button" value="Delete" (click)="deleteData(i)"/></td>
    </tr>
</table>